<main>
    <h1 class="text-center bg-success-subtle p-2 text-dark-emphasis bg-opacity-25 fst-italic W-100">The Baby's Shop</h1>
    <h2 class="fw-bold text-center">CARTS!</h2>
    <section class="text-center m-3 w-100 d-flex flex-wrap justify-content-center gap-3">
        {{#each carts}}
        <div class="card" style="width: 18rem;">
                        <img src="{{this.photo}}" class="card-img-top" alt="{{this.title}}">
                <div class="card-body">
                                <h5 class="card-title">{{this.title}}</h5>
                                <p class="card-text">Category: {{this.category}}</p>
                        <div class="card-body d-flex justify-content-around">
                                <strong class="card-text">Price: {{this.price}}</strong>
                                <strong class="card-text">Stock: {{this.stock}}</strong>
                        </div>
                        <a href="/products/{{this._id}}" class="btn btn-primary mt-auto">See more</a>
                </div>
        </div>
        {{/each}}
</main>