<main>
    <h1 class="text-center bg-success-subtle p-2 text-dark-emphasis bg-opacity-25 fst-italic w-100">The Baby's Shop</h1>
    <h2 class="fw-bold text-center">Your Cart!</h2>
    {{#if cart}}
    <section class="text-center m-3 w-100 d-flex flex-wrap justify-content-center gap-3">
        {{#each cart}}
        <div class="card" style="width: 18rem;">
            <img src="{{this.photo}}" class="card-img-top" alt="{{this.title}}">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                    <strong class="card-text">Price: {{this.price}}</strong>
                    <label for="quantity">Cantidad:</label>
                    <input type="number" id="quantity" name="quantity" min="1" value="{{this.quantity}}"> 
            </div>
                <a href="#" class="btn btn-primary mt-auto">BUY!</a>
            </div>
        </div>
        {{/each}}
    </section>
    {{else}}
    <p class="text-center">Your cart is empty!</p>
    {{/if}}
</main>


{{!-- verificar porque no arroja el carrito creado en mongo --}}







{{!-- ------------------------------------------------------------------------------------------------------------------ --}}

{{!-- <main>
    <h1 class="text-center bg-success-subtle p-2 text-dark-emphasis bg-opacity-25 fst-italic W-100">The Baby's Shop</h1>
    <h2 class="fw-bold text-center">Your Cart!</h2>
    <section class="text-center m-3 w-100 d-flex flex-wrap justify-content-center gap-3">
        {{#each cart}}
        <div class="card" style="width: 18rem;">
                        <img src="{{this.photo}}" class="card-img-top" alt="{{this.title}}">
                <div class="card-body">
                                <h5 class="card-title">{{this.title}}</h5>
                                <p class="card-text">Category: {{this.category}}</p>
                        <div class="card-body d-flex justify-content-around">
                                <strong class="card-text">Price: {{this.price}}</strong>
                                <strong class="card-text">Stock: {{this.stock}}</strong>
                        </div>
                       {{!--  <a href="/products/{{this._id}}" class="btn btn-primary mt-auto">BUY!</a> --}}
             {{!--    </div>
        </div> --}}
      {{!--   {{/each}} </main> --}}

{{!-- AGREGAR ICONO TRASH PARA ELIMINAR UN PRODUCTO
TAMBIEN AGREGAR UNA CAJA DE BOTONES PARA SUMAR O RESTAR CANTIDADES MEDIANTE UN BOTON - Y UN + 
AGREGAR UN BOTON DE FINALIZAR LA COMPRA Y VACIAR EL CARRITO
AGREGAR UN BOTON DE CANCELAR COMPRA Y VACIAR EL CARRITO--}}