<main>
<<<<<<< HEAD
<a href="/products/paginate?page=${page}&limit=10" class="btn btn-primary mt-auto">Volver</a>
{{#if product.id}}

<div class="card mb-2 mx-auto my-5 border-success" style="max-width: 60rem;">
      <h1 class="card-title text-center pt-3 fst-italic" style="font-size: 25px;">Product ID: {{product._id}} </h1>
      <hr>
  <div class="row g-0">
    <div class="col-md-4 align-content-center">
      <img src="{{product.photo}}" class="img-fluid object-fit-cover rounded-start border-end border-dark-subtle" alt="{{product.title}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" style="font-size: 23px;">{{product.title}}</h5>
        <p class="card-text" style="font-size: 18px;">Category: {{product.category}}</p>
        <p class="card-text" style="font-size: 18px;"><small class="text-body-secondary">Stock: {{product.stock}}</small> <small class="text-body-secondary">Price: {{product.price}}</small> </p>
        <button id="addToCart" type="button" class="btn btn-info d-flex w-50 justify-content-center mx-auto">Add to Cart</button>
        
      </div>
    </div>
  </div>
</div>

{{else}}
  <h1>NOT FOUND PRODUCT</h1>
{{/if}}
=======
  <a href="/products/paginate?page=${page}&limit=10" class="btn btn-primary mt-auto">Volver</a>
  {{#if product.id}}

  <div class="card mb-2 mx-auto my-5 border-success" style="max-width: 60rem;">
    <h1 class="card-title text-center pt-3 fst-italic" style="font-size: 25px;">Product ID: {{product._id}} </h1>
    <hr>
    <div class="row g-0">
      <div class="col-md-4 align-content-center">
        <img src="{{product.photo}}" class="img-fluid object-fit-cover rounded-start border-end border-dark-subtle"
          alt="{{product.title}}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 23px;">{{product.title}}</h5>
          <p class="card-text" style="font-size: 18px;">Category: {{product.category}}</p>
          <p class="card-text" style="font-size: 18px;"><small class="text-body-secondary">Stock:
              {{product.stock}}</small> <small class="text-body-secondary">Price: {{product.price}}</small> </p>
          <button id="addToCart" type="button" class="btn btn-info d-flex w-50 justify-content-center mx-auto">Add to
            Cart</button>

        </div>
      </div>
    </div>
  </div>

  {{else}}
  <h1>NOT FOUND PRODUCT</h1>
  {{/if}}
>>>>>>> 1426f7f4e4ffd999aa3faa62f700b16383b255e5

</main>

<script>
<<<<<<< HEAD
  document.addEventListener("DOMContentLoaded", function() {
=======
  document.addEventListener("DOMContentLoaded", function () {
>>>>>>> 1426f7f4e4ffd999aa3faa62f700b16383b255e5
    const addToCart = document.getElementById("addToCart");

    if (addToCart) {
      addToCart.addEventListener("click", async (event) => {
        event.preventDefault();

        // Obtener el ID del producto y la cantidad
        const product_id = "{{product._id}}";
        const quantity = 1;

        try {
          // Realizar la solicitud POST para añadir el producto al carrito
          const response = await fetch("/api/carts", {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              product_id,
              quantity
            })
          });

          // Revisar el estado de la respuesta
          if (response.ok) {
            const responseData = await response.json();
            alert("Product added to cart successfully");
            location.reload("/products")
<<<<<<< HEAD
          } else {
=======
          } 
          
          else if (response.status === 401) {
            alert("Please log in for adding to cart");
          }

          else {
>>>>>>> 1426f7f4e4ffd999aa3faa62f700b16383b255e5
            const errorData = await response.json();
            console.error('Error:', errorData);
            alert("Error adding product to cart: " + (errorData.message || 'Unknown error'));
          }
        } catch (error) {
          console.error('Fetch error:', error);
          alert("Network error: " + error.message);
        }
      });
    }
  });
<<<<<<< HEAD
</script>
=======
</script>
>>>>>>> 1426f7f4e4ffd999aa3faa62f700b16383b255e5
