<main class="d-flex flex-column align-items-center w-100 flex-grow-1">
  <h1 class="bg-success-subtle p-2 text-center w-100 fst-italic text-dark-emphasis"> PRODUCTS </h1>
  <section class="text-center m-3 w-100 d-flex flex-wrap justify-content-center gap-3">
    {{#each products}}
      <div class="card" style="width: 18rem;">
        <img src="{{this.photo}}" class="card-img-top" alt="{{this.title}}" />
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="card-text">Category: {{this.category}}</p>
          <div class="card-body d-flex justify-content-around">
            <strong class="card-text">Price: {{this.price}}</strong>
            <strong class="card-text">Stock: {{this.stock}}</strong>
          </div>
          <a href="/products/{{this.id}}" class="btn btn-primary mt-auto">See more</a>
        </div>
      </div>
    {{/each}}
  </section>

  <div>
    {{#each (range 1 pages)}}
        <button 
            data-page="{{this}}" 
            class="pagination-button btn btn-primary mt-auto"
            {{#ifEquals this ../page}}disabled{{/ifEquals}}
        >
            {{this}}
        </button>
    {{/each}}
</div>

    {{!-- script de conexion de paginacion con botones en JS --}}
    <script src="/scripts/pagination.js"></script>
</main>